@model List<DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarDetalleCobroResult>

@{
    ViewBag.Title = "ConsultarDetalleCobros";
}

<html>
<head>
    <style>
        .detalle-cobro {
            width: 50%;
            border-collapse: collapse;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }

            .detalle-cobro th, .detalle-cobro td {
                border: 1px solid #ddd;
                padding: 10px;
                text-align: left;
            }

            .detalle-cobro th {
                background-color: #f2f2f2;
                font-weight: bold;
            }
    </style>
</head>
<body>
    <h2>Detalle del cobro</h2>

    <table class="detalle-cobro table-hover">
        <tr>
            <th># Cobro</th>
            <th>Propietario</th>
            <th>Nombre Casa</th>
            <th>Monto Cobro</th>
            <th>Precio Casa</th>
            <th>Periodo</th>
            <th>Estado</th>
        </tr>
        @{
            foreach (var cobros in Model)
            {
                <tr>
                    <td>@cobros.Id_cobro </td>
                    <td>@cobros.Nombre</td>
                    <td>@cobros.Nombre_casa</td>
                    <td>@cobros.Monto</td>
                    <td>@cobros.Precio</td>
                    <td>@cobros.Mes</td>
                    <td>@cobros.Anno</td>
                    <td>@cobros.Estado</td>
                </tr>
            }

        }
    </table>
    <input type="button" class="btn btn-primary" value="Editar" />
    <input type="button" class="btn btn-success" value="Pagar" />
    <input type="button" class="btn btn-danger" value="Eliminar" />
    <input type="button" class="btn btn-light" value="Guardar" />
</body>
</html>