@model List<DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobrosResult>

@{
    ViewBag.Title = "ConsultarCobros";
}

<h2>Consultar Cobros</h2>

@Html.ActionLink("Crear cobro", "CrearCobros", null, new { @class = "btn btn-primary" })
<table class="table table-bordered table-hover">
    <tr>
        <th># Cobro</th>
        <th># Casa</th>
        <th># Propietario</th>
        <th>Periodo</th>
        <th>Estado</th>
        <th> </th>
    </tr>

    @foreach (var cobros in Model)
    {
        <tr>
            <td>@cobros.Id_cobro </td>
            <td>@cobros.Id_casa</td>
            <td>@cobros.Nombre</td>
            <td>@cobros.Mes</td>
            <td>@cobros.Estado</td>
            <td>@Html.ActionLink("Consultar", "ConsultarDetalleCobros", "Cobros")</td>
        </tr>
    }


</table>


