@model List<DataModels.PviProyectoFinalDBStoredProcedures.SpConsultarCobrosResult>

@{
    ViewBag.Title = "ConsultarCobros";
}

<h2>Consultar Cobros</h2>

@*<div class="md-3">
    <label class="form-label" for="idCasa">Casa</label>
    <select id="idCasa" name="idCasa" class="form-control">
    <option value="">Seleccione una casa</option>
    </select>
    </div>

    <div class="md-3">
    <label for="anioSeleccionado">Año</label>
        @Html.DropDownListFor(m => m.anno, (IEnumerable<SelectListItem>)ViewBag.anno, "Seleccione un año", new { @class = "form-control" })
    </div>

    <div class="md-3">
    <label class="form-label" for="mes">Mes</label>
        @Html.DropDownListFor(m => m.mes, (IEnumerable<SelectListItem>)ViewBag.meses, "Seleccione un mes", new { @class = "form-control" })
    </div>*@

@Html.ActionLink("Crear cobro", "CrearCobros", null, new { @class = "btn btn-primary mb-2" })
<table class="table table-bordered table-hover">
    <tr>
        <th># Cobro</th>
        <th># Casa</th>
        <th># Propietario</th>
        <th>Periodo</th>
        <th>Estado</th>
    </tr>

    @foreach (var cobros in Model)
    {
        <tr>
            <td>@cobros.Id_cobro </td>
            <td>@cobros.Id_casa</td>
            <td>@cobros.Nombre</td>
            <td>@cobros.Mes</td>
            <td>@cobros.Estado</td>
        </tr>
    }


</table>
